force-app/main/default/flows/Update_Attendees_Detail_in_Description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Contact_Information</name>
        <label>Add Contact Information</label>
        <locationX>185</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>attendeesInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Meeting_Attendees.Contact__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_Information</name>
        <label>Add Lead Information</label>
        <locationX>447</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>attendeesInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Meeting_Attendees.Lead__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Separator_1</name>
        <label>Add Separator 1</label>
        <locationX>183</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>attendeesInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Lead_Existence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Separator_2</name>
        <label>Add Separator 2</label>
        <locationX>785</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>attendeesInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Meeting_Attendees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Contact_Existence</name>
        <label>Check for Contact Existence</label>
        <locationX>177</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference>Check_for_Lead_Existence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Meeting_Attendees.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact_Information</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Lead_Existence</name>
        <label>Check for Lead Existence</label>
        <locationX>437</locationX>
        <locationY>736</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Meeting_Attendees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Meeting_Attendees.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_Information</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Attendees Detail in Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Attendees Detail in Description</label>
    <loops>
        <name>Iterate_over_Meeting_Attendees</name>
        <label>Iterate over Meeting Attendees</label>
        <locationX>786</locationX>
        <locationY>511</locationY>
        <collectionReference>Get_Attendees_Of_Same_Meeting</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Contact_Existence</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Attendees_Information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Attendees_Of_Same_Meeting</name>
        <label>Get Attendees Of Same Meeting</label>
        <locationX>791</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Meeting_Attendees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Meeting_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Attendees_Information</name>
        <label>Update Attendees Information</label>
        <locationX>1118</locationX>
        <locationY>732</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>attendeesInfo</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <start>
        <locationX>648</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Get_Attendees_Of_Same_Meeting</targetReference>
        </connector>
        <object>Meeting_Attendee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>attendeesInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
