force-app/main/default/flows/Update_Attendees_Detail_in_Description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Text_to_Collection_Apex</name>
        <label>Convert Text to Collection Apex</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>TextToCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_over_Attendee_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>separator</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.Attendees__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextToCollection</nameSegment>
        <outputParameters>
            <assignToReference>attendeesCollection</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Contact_Information</name>
        <label>Add Contact Information</label>
        <locationX>138</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>attendeesInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Contact_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Record_Id</name>
        <label>Add Contact Record Id</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>contactRecordIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Attendee_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Attendee_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_Information</name>
        <label>Add Lead Information</label>
        <locationX>138</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>attendeesInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Lead_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_Record_Id</name>
        <label>Add Lead Record Id</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>leadRecordIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Attendee_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Attendee_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Separator_1</name>
        <label>Add Separator 1</label>
        <locationX>138</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>attendeesInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Contact_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Separator_2</name>
        <label>Add Separator 2</label>
        <locationX>138</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>attendeesInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Lead_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Attendees_Change</name>
        <label>Check for Attendees Change</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.proper_meeting__Attendees__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Text_to_Collection_Apex</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Lead_and_Contact</name>
        <label>Check for Lead and Contact</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Attendee_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Attendee_Collection</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_Record_Id</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Attendee_Collection</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact_Record_Id</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Attendees Detail in Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Attendees Detail in Description</label>
    <loops>
        <name>Iterate_over_Attendee_Collection</name>
        <label>Iterate over Attendee Collection</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>attendeesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Lead_and_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Contact_Records</name>
        <label>Iterate over Contact Records</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_over_Lead_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Lead_Records</name>
        <label>Iterate over Lead Records</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <collectionReference>Get_Lead_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Lead_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Attendees_Information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>contactRecordIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Records</name>
        <label>Get Lead Records</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>leadRecordIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Attendees_Information</name>
        <label>Update Attendees Information</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>attendeesInfo</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Attendees_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online Meeting</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>attendeesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>attendeesInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecordIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadRecordIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
